@use "../partials/mixins";

#keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 40%;
  gap: 10px;
}

.keys {
  height: 28px;
  width: 28px;
  padding: 14px;
  @include mixins.centered-flex
}
